# folders
*test*
testExamples
testScripts
.vscode
__pycache__
.ipynb_checkpoints
venv-ephys
paper_figure_matter
Findsim
upilab
raw_plots_all_cells
oct16_redo_findsim_new_data
jan26_redo_findsim_with_refpk
*Raw*
*raw*
*notebooks*

# files
*temp*.*
*copy*.*
*test*.*
*raw*.*
*.h5
*.xlsx
*.csv
*.cpython*
*.html
labnotes*
untitled*
*notebook*.ipynb